@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

:root{
    --primary-color: #F1A5B1;
    --secondary-color: #0B0A0A;
    --text-light: #fff;

    --primary-font: "Archivo", sans-serif;
    --secondary-font: "Andada Pro", serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("/assets/imgs/wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--primary-font);
    color: var(--text-light);
    min-height: 100vh;
}

.navegation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.2rem;
}


.social-media-list{
    list-style: none;
    display: flex;
    gap: 0.8em;
}

.media-item{
    background-color: #AFAFAF;
    border: 1px solid var(--text-light);
    border-radius: 50%;
    padding: 0.2rem;
}

main{
    display: flex;
    justify-content: space-around;
    padding: 3rem 5vw 0;
}

.about{
    flex-grow: 1; 
    max-width: 450px;
    padding-left: 8rem;
}

.about-film{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25vw;
    font-family: "Andada Pro", serif;
    margin-top: 0.3rem;
}

.about-film h1{
    font-size: 3rem;
    line-height: 1.1;
}

.description{
    font-size: 0.95rem;
    line-height: 1.4;
}


.buttons{
    display: flex;
    gap: 1rem;
}
.watch-button,
.watch-trailer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 7px 16px 7px 16px;
    gap: 0.5rem;
}

.watch-trailer{
    background: none;
    color: var(--text-light);
    border: 1px solid var(--primary-color);
}

.no-face-img{
    margin-top: 0;
    width: 40%;
    max-width: 500px;
    height: 70vh;
    overflow: hidden;
    margin-right: 8rem;
    margin-top: -50px;
}

.no-face-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

